.container-fluid {
    padding-top:  2%;
    
}
.list-group-item a{
    font-size:x-large;
    color: rgb(59, 59, 59);
    text-decoration: none;
    
}
.list-group-item :hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: xx-large;   
}